.errors
.panel.panel-default.panel-question.body
  .panel-heading
    .panel-title
      = @question.title
      .pull-right
        - if current_user && current_user.owns?(@question)
          = link_to edit_question_path(@question), class: 'edit' do
            %i.fa.fa-pencil
          = link_to question_path(@question), method: :delete, class: 'delete' do
            %i.fa.fa-trash
  .panel-body
    = @question.body
  .panel-body
    - @question.attachments.each do |attachment|
      %p= link_to attachment.file_identifier, attachment.file.url unless attachment.new_record?
.form{data: {url: edit_question_path(@question)}}
