.box
  = form_for @question do |f|
    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.label :body, 'Text'
      = f.text_area :body, class: 'form-control'
    .form-group.file_fields
      = f.fields_for :attachments, @question.attachments.build do |a|
        = a.file_field :file
    = f.submit 'Submit'