- cache_unless user_signed_in?, @question do
  .question.box{data: {question_id: @question.id}}
    = render 'question_form'

  %h4 Answers:
  %ul.list-group.answers
    - cache_unless user_signed_in?, collection_cache_key_for(:answer) do
      = render @question.answers.includes(:attachments, :comments).best_first

- if user_signed_in?
  %h4 Your answer:
  = render partial: 'answers/form', locals: { answer: Answer.new }

= subscribe_to "/questions/#{@question.id}/answers"
= subscribe_to "/questions/#{@question.id}/comments"
