.box{data: {answer_id: answer.id}}
  %div.body.answer
    .row
      .col-sm-1
        .sign
          - if answer.best
            %i.fa.fa-check-circle.fa-4x
        .score
          .row
            .votes= answer.votes
          - if user_signed_in?
            .row
              = link_to up_question_answer_path(@question, answer), class: 'up', remote: true do
                %i.fa.fa-plus
              = link_to down_question_answer_path(@question, answer), class: 'down', remote: true do
                %i.fa.fa-minus
      .col-sm-9
        %li.list-group-item
          .answer-body
            = answer.body
          - answer.attachments.each do |attachment|
            %p= link_to attachment.file_identifier, attachment.file.url unless attachment.new_record?
          %br
          = render partial: 'comments/list', locals: { comments_parent: answer }
          %br
          - if policy(answer).edit?
            = link_to edit_question_answer_path(@question, answer), class: 'edit' do
              %i.fa.fa-pencil
          - if policy(answer).destroy?
            = link_to question_answer_path(@question, answer), method: :delete, remote: true, class: 'delete' do
              %i.fa.fa-trash
          - if policy(answer).choice?
            = link_to choice_question_answer_path(@question, answer), remote: true, class: 'best' do
              %i.fa.fa-thumbs-o-up
  .row
    .col-sm-offset-1.col-sm-9
      .form{data: {url: edit_question_answer_path(@question, answer)}}
  = subscribe_to "/answers/#{answer.id}/comments"