= nav_bar fixed: :top, brand: 'QNA', responsive: true do
  = menu_group do
    = menu_item 'Home', root_path
    = menu_item 'Create question', new_question_path if current_user

  = menu_group pull: :right do
    - if current_user
      = menu_item '#' do
        .reputation
          Reputation:
          = current_user.reputation
      = menu_item 'Sign out', destroy_user_session_path, method: :delete
    - else
      = menu_item 'Sign in', new_user_session_path
      = menu_item 'Registration', new_user_registration_path

  = render 'search/form'